:root {
  --bg-color: #333;
  --bg-grad: linear-gradient(150deg, #222, #533);
  --fg-color: #ddd;
}

body, h1, h2, h3, h4 {
  font-family: 'Open Sans';
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-grad);
  color: var(--fg-color);
}

a {
  color: #ff3030;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.debugInfo {
  font-size: 9px;
}
