/* Global, mobile first */

:root {
  --bg-color: #333;
  --bg-grad: linear-gradient(150deg, #222, #522);
  --fg-color: #ddd;
  --button-bg: #bbb;
  --button-border: 0.125rem solid #999;
  --button-fg: #333;
  font-size: 175%;
}

body, h1, h2, h3, h4, table {
  font-family: 'Open Sans';
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
}

body {
  background: fixed var(--bg-grad), var(--bg-color);
  color: var(--fg-color);
  padding: 0.7rem;
}

a {
  color: #ff3030;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  :root {
    --button-border: 1px solid #999;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  body {
    padding: 10px;
  }
}

/* Service List */

.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.serviceList li {
  display: block;
  flex-basis: 7rem;
  flex-grow: 1;
  margin: 0.3rem;
}

.serviceList a {
  background: var(--button-bg);
  border-radius: 0.7rem;
  border: var(--button-border);
  color: var(--button-fg);
  display: block;
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  text-align: center;
}

.serviceList a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.serviceList a:active {
  text-decoration: none;
  background: var(--button-fg);
  color: var(--button-bg);
}

.serviceIcon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.serviceLabel {
  display: block;
  font-weight: 900;
  font-size: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 1000px) {
  .serviceList li {
    flex-basis: 100px;
  }

  .serviceList a {
    border-radius: 12px;
    padding: 10px;
  }

  .serviceIcon {
    font-size: 48px;
  }

  .serviceLabel {
    font-size: 14px;
  }
}
