/* Global, mobile first */

@import 'npm:opensans-npm-webfont/open_sans.css';

:root {
  --bg-color: #333;
  --fg-color: #ddd;
  --button-bg: #ccc;
  --button-border: 0.125rem solid #999;
  --button-fg: #333;
  font-size: 175%;
}

@media screen and (min-device-width: 1080px) and (pointer: fine) {
  :root {
    --button-border: 0.05rem solid #999;
    font-size: 100%;
  }

  .pageContainer {
    display: grid;
    grid-template:
      ". header   ." auto
      ". services ." auto
      ". footer   ." auto
      / auto minmax(50em, 60em) auto;
    margin: 0.7rem;
  }

  header {
    grid-area: header;
  }

  .servicesArea {
    grid-area: services;
  }

  .serviceSection {
    backdrop-filter: blur(4px) !important;
    border-radius: 0.7rem;
  }
}

body, h1, h2, h3, h4, table {
  font-family: 'Open Sans';
}

h1, h2 {
  text-shadow: 0 1px #333;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

body {
  background-color: var(--bg-color);
  background-image: url(/images/boats.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--fg-color);
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: #ff3030;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.serviceSection {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 1rem 1rem 1rem;
  margin-bottom: 2rem;
}

.serviceSection h2 {
  margin-top: 0;
}

/* Service List */

.serviceList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.6rem;
  margin: 0;
  padding: 0;
}

.serviceList li {
  display: block;
}

.serviceList a {
  background: var(--button-bg);
  border-radius: 0.7rem;
  border: var(--button-border);
  color: var(--button-fg);
  display: block;
  padding: 1rem 0.8rem 0.6rem 0.8rem;
  text-align: center;
}

.serviceList a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.serviceList a:active {
  text-decoration: none;
  background: var(--button-fg);
  color: var(--button-bg);
}

.serviceList img {
  max-height: 4rem;
  min-height: 4rem;
}

.serviceLabel {
  display: block;
  font-weight: 900;
  font-size: 0.8rem;
  white-space: nowrap;
}
